body {
  background: #fafafa;
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 1rem;
  overflow: hidden;
  -webkit-user-select: none; /* Chrome, Opera, Safari */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
}
.container {
  margin-top: 7vh;
  cursor: default;
}

h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 6vmax;
  margin: 4vmin;
  margin-bottom: 0;
  font-weight: normal;
}

h2, h3, h4 {
  font-weight: 300;
}

h2 {
  font-size: 1.5em;
  color: gray;
  line-height: 140%;
}
h3 {
  font-size: 2em;
  margin:1rem;
}
h4 {
  margin:1rem;
  font-size: 1.3rem;
}

a:link {
    color: black;
  text-decoration: none;
}
a:visited {
    color: black;
  text-decoration: none;
}
.fas:hover, .fab:hover {
    opacity: 1;
  }
.fas, .fab {
  padding: 0.5rem;
  opacity: 0.4;
  }

.social{
  font-size:1.8rem;
  padding-top:1.5rem;
  padding-bottom:2rem;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 4rem;
  left: 0;
}
.footer2 {
  text-align: center;
}
.does {
  line-height: 160%;
  font-weight: 300;
  margin-top: 0;
  color: gray;
}

@media screen and (max-width: 375px) {
  .does2 {
        text-align: left;
        margin-left: 18%;
    }
    h2 {
  font-size: 3.5vh;
}
    h3 {
  font-size: 4vh;
}
